// Have to use !important for colors to override vuetify

.main-wrapper {
  padding: 5px;

  .error {
    &--text {
      color: red !important;
    }
  }

  .primary {
    background-color: #4caf50 !important;
  }

  .secondary {
    background-color: #1867c0 !important;
  }

  .warning {
    background-color: #fb8c00 !important
  }
}
